.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #fff;
  }
  
  .home img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
  }
  
  .home-text {
  margin-top: 2rem;
  text-align: center;
  }
  
  .home-text h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  }
  
  .home-text p {
  font-size: 1.5rem;
  line-height: 2rem;
  max-width: 50rem;
  margin: 0 auto;
  }



  .katalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2rem;
  }
  
  .proizvod {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    height: 450px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
  }
  
  .proizvod:hover {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
    transform: translateY(-5px);
  }
  
  .proizvod img {
    max-width: 250px;
    max-height: 250px;
  }
  
  .proizvod h3 {
    margin-top: 1rem;
    font-size: 1.5rem;
    text-align: center;
  }
  
  .proizvod p {
    margin-top: 1rem;
    font-size: 1.2rem;
    text-align: justify;
  }
  
  .proizvod .cena {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #f7b731;
  }
  

  .detalji-proizvoda {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  
  .detalji-proizvoda img {
    max-width: 500px;
    margin-bottom: 20px;
  }
  
  .detalji-proizvoda h2 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .detalji-proizvoda p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .detalji-proizvoda .proizvod-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .detalji-proizvoda .proizvod-info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }
  
  .detalji-proizvoda .label {
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  .detalji-proizvoda .value {
    font-size: 24px;
  }
  
  .detalji-proizvoda h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .detalji-proizvoda .review {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .detalji-proizvoda .review h4 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .detalji-proizvoda .review p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .detalji-proizvoda .review-info {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
  }
  
  .detalji-proizvoda .review-info-item {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  
  .detalji-proizvoda .review-info-item .label {
    margin-right: 5px;
  }
  



  .star {
    color: #ccc;
    font-size: 1.2em;
    margin: 0 2px;
  }
  
  .star.filled {
    color: #f5d700;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-container {
    background-image: linear-gradient(to bottom right, #FFAFBD, #ffc3a0);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 30px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .input-container {
    position: relative;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
    color: #fff;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-size: 16px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  input[type="email"]::before {
    content: "\f0e0";
    font-family: "Font Awesome 5 Free";
    position: absolute;
    left: 10px;
    top: 10px;
    color: #ccc;
    font-size: 16px;
  }
  
  input[type="password"]::before {
    content: "\f084";
    font-family: "Font Awesome 5 Free";
    position: absolute;
    left: 10px;
    top: 10px;
    color: #ccc;
    font-size: 16px;
  }
  
  .login-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .login-button:hover {
    background-color: #555;
  }
  